@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.page-account {
  --color-primary: #4880FF;
  --color-text: #202224;
}

.page-account {
  font-family: "Nunito Sans", sans-serif;
}

.page-account input,
.page-account textarea,
.page-account select,
.page-account button {
  font-family: "Nunito Sans", sans-serif;
}

/* page-account */

.page-account 
{
  background-image: url("../../../../public/bg-account.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;

  min-height: 100vh;

  display: flex;
  align-items: center;
}

/* End page-account */


/* form-account */

.page-account .form-account
{
  width: 500px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 50px 30px;
}

.page-account .form-account .inner-title
{
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: var(--color-text);
}

.page-account .form-account .inner-title.admin-account
{
  color: #EF3826;
}

.page-account .form-account .inner-description
{
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  opacity: 0.8;
}

.page-account .form-account .inner-form
{
  margin-bottom: 30px;
}

.page-account .form-account .inner-form .inner-group
{
  margin-bottom: 30px;

  position: relative;
}

.page-account .form-account .inner-form .inner-group .just-validate-error-label 
{
  position: absolute;
  top: 104%;
  left: 0;
  font-size: 12px;
  color: #EF3826 !important;
  margin-top: 3px;
}

.page-account .form-account .inner-form .inner-group .inner-label
{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  opacity: 0.8;
  margin-bottom: 15px;
}

.page-account .form-account .inner-form .inner-group .inner-control
{
  width: 100%;
  height: 56px;
  background-color: #F1F4F9;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  outline: none;

  transition: box-shadow 0.25s;
}

.page-account .form-account .inner-form .inner-group .inner-control:focus
{
  border: 1px solid #80bdff;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.page-account .form-account .inner-form .inner-group .inner-control::placeholder
{
  color: #A6A6A6;
}

.page-account .form-account .inner-group .inner-control.just-validate-error-field 
{
  border-color: #EF3826 !important;
}

.page-account .form-account .inner-group .inner-control.just-validate-success-field 
{
  border-color: #00B69B !important;
}


.password-form
{
  position: relative;
}

.page-account .form-account .password-form .password-icon
{
  position: absolute;
  font-size: 1.22222em;
  top: 2.82222em;
  right: 20px;
  cursor: pointer;
}

.section-crud form .password-form .password-icon
{
  position: absolute;
  font-size: 1.22222em;
  top: 2.22222em;
  right: 20px;
  cursor: pointer;
}

.page-account .form-account .inner-form .inner-meta
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.page-account .form-account .inner-form .inner-meta .inner-confirm
{
  display: inline-flex;
  align-items: center;
  gap: 12px;

  position: relative;
}

.page-account .form-account .inner-form .inner-meta .inner-confirm .just-validate-error-label
{
  position: absolute;
  top: 104%;
  left: 0;
  font-size: 12px;
  color: #EF3826 !important;
  margin-top: 3px;
}

.page-account .form-account .inner-form .inner-meta .inner-confirm .inner-check
{
  width: 24px;
  height: 24px;
}

.page-account .form-account .inner-form .inner-meta .inner-confirm .inner-label
{
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  opacity: 0.6;
}

.page-account .form-account .inner-form .inner-forgot-password
{
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  opacity: 0.6;
}

.page-account .form-account .inner-form .inner-forgot-password:hover
{
  color: var(--color-primary);
  opacity: 1;
}

.page-account .form-account .inner-form .inner-button
{
  width: 100%;
  height: 56px;
  border: 0;
  outline: none;
  background-color: var(--color-primary);
  border-radius: 8px;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.page-account .form-account .inner-form .inner-button:hover
{
  opacity: 1;
}

.page-account .form-account .inner-more
{
  text-align: center;
}

.page-account .form-account .inner-more span
{
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  opacity: 0.65;
}

.page-account .form-account .inner-more a
{
  font-size: 16px;
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: underline;
  margin-left: 10px;
}

/* smaller than 992 */
@media (max-width: 991.98px)
{
  .page-account .form-account .inner-form .inner-group .inner-label
  {
    margin-bottom: 10px;
  }

  .page-account .form-account .inner-form .password-form .password-icon
  {
    top: 2.49999em;
  }

  .page-account .form-account .inner-form .inner-meta .inner-confirm .inner-check
  {
    width: 18px;
    height: 18px;
  }
}

/* smaller than 576 */
@media (max-width: 575.98px)
{
  .page-account .form-account
  {
    width: 90%;
  }
}

/* End form-account */


/* field-required */

.field-required
{
  color: red;
}

/* End field-required */